require 'huginn_agent'

# Allow to add views, controller, routes, etc...
class Engine < ::Rails::Engine; end

#HuginnAgent.load '<%= config[:gem_name] %>/concerns/my_agent_concern'
HuginnAgent.register '<%= config[:gem_name] %>/<%= config[:agent_file_name] %>'
